# Ignore the Environment (.env) file, that contains passwords and connection details.
.env

# Ignore the database storage.
db_data/*
# but keep folder structure itself, by keeping only the .gitkeep file within.
!db_data/.gitkeep
